.footer
    .footer__container
        .footer__top 
            .footer__logo
                a(href="/")
                    img(src="images/svg/footer_logo.svg") 
            .footer__menu
                .footer__menu__item для кого
                .footer__menu__item что вы получите
                .footer__menu__item отзывы
                .footer__menu__item ведущий
            .footer__buttons 
                a(href="#")
                    img(src="images/svg/footer_facebook.svg") 
                a(href="#")
                    img(src="images/svg/footer_instagram.svg")
                button регистрация
        .footer__bottom 
            .footer__text 2015 - 2021 © English Tochka © englishtochka.ru. Все права защищены.
            .footer__text Политика конфиденциальности
            .footer__text Соглашение об обработке персональных данных