.header
    .logo
        img(src="images/logo.png")
    h1 как помочь ребенку полюбить английский за 2 часа
    .header_star_text 
        p самый популярный в россии вебинар по английскому для родителей
        img(src="images/star.png")
    .note *По мнению участников вебинара. Результаты могут различаться в каждом конкретном случае.
    h3 
        | бесплатный вебинар
        br
        | 17 августа 2021 20:00 мск
    form.webinar
        input(placeholder="Ваше Имя")
        input(placeholder="Ваш email")
        input.btn(type="submit" value="Бесплатно")
    .send_note 
        |Нажимая на кнопку, вы даете согласие на 
        a(href="#") обработку персональных данных
        |и соглашаетесь с 
        a(href="#") политикой конфиденциальности
    h2.lighting 
        |ДЛЯ КОГО ЭТОТ ВЕБИНАР
        img(src="images/lighting.png")