h2 прямо во время вебинара вы:
.cards
    .card_container
        .card
            .card_plus 
            .card_text Узнаете специфику коротких занятий, благодаря которым у ребенка усиливается интерес к английскому языку
    .card_container
        .card
            .card_plus
            .card_text Создадите правильную мотивацию для своего ребенка
    .card_container
        .card
            .card_plus
            .card_text Узнаете, как научить ребенка легко запоминать сложные слова
    .card_container
        .card
            .card_plus
            .card_text Узнаете, как добиться того, чтобы ребенок учился самостоятельно
    .card_container
        .card
            .card_plus
            .card_text Поймёте, что Английский язык — это большие возможности в будущем для вашего ребенка
    .card_container
        .card
            .card_plus
            .card_text Узнаете методику обучения через мультфильмы и игры
    .cards_central_pic