h2 автор и ведущий вебинара
.author
    .card_container
        .card
            .card_plus 
            .card_text Отказался от карьеры инженера и пошёл по стопам родителей, став преподавателем и разработчиком систем преподавания.
    .card_container
        .card
            .card_plus
            .card_text Окончил БГТУ "Военмех" им. Д.Ф. Устинова (Санкт-Петербург) по специальности “Инженер Авиа и ракетостроения”.
    .card_container
        .card
            .card_plus
            .card_text 
                |Основатель крупнейшей онлайн-школы English Tochka, созданной 
                br
                |в Санкт-Петербурге.
    .card_container
        .card
            .card_plus
            .card_text Спикер лингвистических форумов и конференций в США и России.
    .card_container
        .card
            .card_plus
            .card_text Разговаривает как носитель на английском языке
    .card_container
        .card
            .card_plus
            .card_text Работал в международных компаниях в США и России.
    .cards_central_pic
    .author_description 
        .name Алекс Рубанов
        a.instagram(href="#") rubanovaleks
        a.interview(href="#") Смотреть интервью Алекса на английском языке