.feedback_1
    .feedback_1__images
        .feedback_1__emoji 
        .feedback_1__cube
        .feedback_1__arrow
    .feedback_1__text
        h2.bottom
            |прими участие в событии, которое разделит вашу жизнь и жизнь вашего ребёнка на до и после в английском языке
        p 
            |Онлайн трансляция по всему миру 
            br
            |прямо на вашем компьютере
    .feedback_1__form 
        form.webinar
            input(placeholder="Ваше Имя")
            input(placeholder="Ваш email")
            input.btn(type="submit" value="Бесплатно")
        .send_note 
            |Нажимая на кнопку, вы даете согласие на 
            a(href="#") обработку персональных данных
            |
            |и соглашаетесь с 
            a(href="#") политикой конфиденциальности