.answers_container
    .answers
        .answers_cards
            .answers_card
                .answer_img 
                    img(src="images/cup.png")
                .answer_text 
                    |Для тех, кто хочет повысить
                    |успеваемость своего
                    |ребёнка в школе
            .answers_card
                .answer_img 
                    img(src="images/phone.png")
                .answer_text 
                    |Для тех, кто хочет,
                    |чтобы его ребёнок легко
                    |запоминал новые
                    |иностранные слова
            .answers_card
                .answer_img 
                    img(src="images/books.png")
                .answer_text 
                    |Для тех, кто хочет,
                    |чтобы его ребёнок сам 
                    |захотел учить английский