.feedback_container
    .feedback_1
        .feedback_1__images
            .feedback_1__tor 
            .feedback_1__notebook
            .feedback_1__arrow
        .feedback_1__text 
            h2 
                |онлайн трансляция по всему миру прямо на вашем компьютере
            p 
                |Прими участие в событии, которое разделит вашу жизнь и жизнь вашего ребёнка 
                |на до и после в английском языке
        .feedback_1__form 
            form.webinar
                input(placeholder="Ваше Имя")
                input(placeholder="Ваш email")
                input.btn(type="submit" value="Бесплатно")
            .send_note 
                |Нажимая на кнопку, вы даете согласие на 
                a(href="#") обработку персональных данных
                |
                |и соглашаетесь с 
                a(href="#") политикой конфиденциальности
        
