h2 
    |Что говорят счастливые люди, 
    br 
    |которые уже был на вебинаре
.reviews
    .reviews__slider
        .reviews__arrow.left
        .reviews__cards
            .reviews__card
                .reviews__card__header
                    .reviews__card__photo
                        img(src="images/slider_photo.jpg")
                    .reviews__card__header_text
                        .reviews__card__name Дмитрий
                        .reviews__card__descr Ребенку 8 лет
                .reviews__card__text
                 | Для меня вебинар послужил связующим звеном: описанная на сайте программа стала более реальной в моем представлении. Нам подробно описали программу, а затем дали возможность задавать вопросы. Все мои сомнения развеялись, вебинар помог принять решение относительно переезда в США
            .reviews__card
                .reviews__card__photo
                .reviews__card__name Дмитрий
                .reviews__card__descr Ребенку 8 лет
                .reviews__card__text
                 | Для меня вебинар послужил связующим звеном: описанная на сайте программа стала более реальной в моем представлении. Нам подробно описали программу, а затем дали возможность задавать вопросы. Все мои сомнения развеялись, вебинар помог принять решение относительно переезда в США
            .reviews__card
                .reviews__card__photo
                .reviews__card__name Дмитрий
                .reviews__card__descr Ребенку 8 лет
                .reviews__card__text
                 | Для меня вебинар послужил связующим звеном: описанная на сайте программа стала более реальной в моем представлении. Нам подробно описали программу, а затем дали возможность задавать вопросы. Все мои сомнения развеялись, вебинар помог принять решение относительно переезда в США
            .reviews__card
                .reviews__card__photo
                .reviews__card__name Дмитрий
                .reviews__card__descr Ребенку 8 лет
                .reviews__card__text
                 | Для меня вебинар послужил связующим звеном: описанная на сайте программа стала более реальной в моем представлении. Нам подробно описали программу, а затем дали возможность задавать вопросы. Все мои сомнения развеялись, вебинар помог принять решение относительно переезда в США
        .reviews__arrow.right
    .reviews__num_navs
        .reviews__num_navs__number 01 
        .reviews__num_navs__blocks
            .block.active
            .block 
            .block 
            .block 
            .block 
        .reviews__num_navs__amount 05